<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="Console">
            <PatternLayout
                    pattern="%highlight{[%d{HH:mm:ss} %level] %msg%n}{ERROR=bold red, WARN=bold yellow, INFO=white}"
            />
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
